@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

header{
    margin: 0;
    background-color: #888df2;
}

.logo{
    width: 13%  ;
    height:  15% ;
    padding-left: 2%;
}

.kbc{
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    font-family: "Nunito", sans-serif;
    box-shadow: 0 5px rgba(0, 0, 0, 0.9);
}

.navbar > ul{
    font-family: "Montserrat", sans-serif ;
    font-weight: 800;
    font-size: 1.25em;
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    gap: 30px;
    padding-right: 45px;
    color: #fff;}

    .text-jobs{
        padding-top: 30px;
        padding-left: 30px;
        font-family: 'Montserrat', sans-serif;
        color: #888df2;
        text-align: justify;
        padding-bottom: 1%;
    }
    
    
    footer{
        background-color: #888df2;
        height: 70px;
        font-size: 25px;
        text-align: center;
        color: #fff;
    
        padding-top: 1%;
    }

    .imgbanner{
        width:500px ;
        height: 500px;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .imgba{
        width:500px ;
        height: 500px;
        padding-top: 1%;
        padding-bottom: 1%;
        
    }

    .oculos{
        width:400px ;
        height: 500px;
        padding-top: 1%;
        padding-bottom: 1%;
        
    }